* {
    margin: 0;
    padding: 0;
    font-family: 'Average', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: color(display-p3 .5 .81 .9);
    --primary-fallback: rgb(78, 202, 255);
    --background-color: color-mix(in HSL, black 80%, white);
    --background-fallback: rgb(58, 58, 58);
    --font-color: white;
  }

@font-face {
    font-family: 'Average';
    src: url('../fonts/Average-Regular.ttf') format('truetype');
    font-weight: normal;
}

body {
    background: black;
    color: var(--font-color);
    font-size: 1rem;
}
header {
    width: 100dvw;
    height: 100dvh;
    background-image: url("../images/bg-1.jpg");
    background-size: cover;
    position: relative;
    padding: 10px 10%;
    font-size: 1rem;
}

picture {
    max-width: 100%;
}

#logopic {
    width: 12dvw;
    max-width: 100px;
    height: auto;
}

.navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    position: relative;
    padding: 12px 20px;
}

.sidemenu {
    display: flex;
    list-style: none;
}

.sidemenu a {
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 30px;
    display: inline-block;
    text-decoration: none;
    color: var(--font-color);
    text-align: center;
    transition: .15s ease-in-out;
    position: relative;
    font-size: 1.3rem;
}
/* nav ul li {
    display: inline-block;
    list-style: none;
    margin: 12px 20px;
}

nav ul li a {
    color: var(--font-color);
    font-size: 18px;
    text-decoration: none;
    position:relative;
} */

.sidemenu a::after {
    content: '';
    width: 0;
    height: 3px;
    background-color: var(--primary-color, --primary-fallback, rgb(78, 202, 255));
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: .15s ease-in-out;
}

.sidemenu a:hover::after {
    width: 70%;
    transform: translateX(30px);
}

.openmenu, .closemenu {
    display: none;
    position: absolute;
    color: var(--font-color);
    cursor: pointer;
    font-size: 1.5rem;
}
.openmenu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.closemenu {
    top: 20px;
    right: 20px;
}
#checkbox {
    display: none;
}

.hero {
    margin-top: 20%;
    font-size: 2em;
    text-align: center;
}

.hero h1 {
    font-size: 2em;
    margin-top: 20px;
    padding: 10px;
}

.hero p {
    font-size: 2rem;
}

/* ------ABOUT------- */

#about {
    padding: 60px 10%;
    text-align: center;
    background-color: var(--background-color, --background-fallback, rgb(58, 58, 58));
    color: var(--font-color);
}

#about h2 {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color, --primary-fallback, rgb(78, 202, 255));
}
#about p {
    padding-top: 10px;
}

.about-container {
    display: grid;
    grid-template-rows: 200px 550px;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 10px;
    grid-template-areas:
    'header header profile'
    'skills education education';
}

.grid-profile img{   
    grid-area: profile; 
    width: 12dvw;
    max-width: 100%;
    object-fit: contain;
    
}

.grid-header {
    grid-area: header;
    justify-self: center;
    align-self: center;
}

.grid-skills {
    grid-area: skills;
    justify-self: center;
    
}
.grid-skills h3 {
    font-size: 2.5rem;
}

ul.parent-list {
    padding: 10px;
    font-size: 1.5rem;
    text-align: left;
}

ul.child-list {
    font-size: 1.25rem;
    padding-left: 20px;
}



.grid-education {
    grid-area: education;
    justify-self: baseline;
}
.grid-education h3{
    text-align: left;
    font-size: 2.5rem;
}
.grid-education p{
    text-align: left;
    font-size: 1.5rem;
}

h3:has(+ul) {
    font-weight: bolder;
}
h3:has(+p) {
    font-weight: bolder;
}

/* -----PORTFOLIO------ */

#portfolio {
    padding: 60px 10%;
    text-align: center;
    background-color: var(--background-color, --background-fallback, rgb(58, 58, 58));
    color: var(--font-color);
}
#portfolio h2 {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color, --primary-fallback, rgb(78, 202, 255));
}

.portfolio-container {
    padding-top: 10px;
    display: grid;
    grid-template-rows: 100px 650px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    'portfolio-header portfolio-header'
    'experience projects';
}

.portfolio-header {
    grid-area: portfolio-header;
    justify-self: center;
    align-self: center;
}

.experience {
    grid-area: experience;
    justify-self: baseline;
}
.experience h3 {
    font-size: 2.5rem;
}
.experience ul {
    font-size: 1.5rem;
}

.projects {
    grid-area: projects;
    justify-self: baseline;
}
.projects h3 {
    font-size: 2.5rem;
}
.projects ul {
    font-size: 1.5rem;
}

/* -----Contact------ */
#contact {
    padding: 60px 10%;
    text-align: center;
    background-color: var(--background-color, --background-fallback, rgb(58, 58, 58));
    color: var(--font-color);
}
#contact h2 {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color, --primary-fallback, rgb(78, 202, 255));
}

.contact {
    padding: 40px 0;
    margin: 0 10px;
}
.contact h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(72, 72, 72);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
}

.contact-form label {
    display: block;
}

.contact-form input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}

.submit-button {
    padding: 10px 20px;
    border: none;
    color: var(--font-color);
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--primary-color, --primary-fallback, rgb(78, 202, 255));
    transition: .5s;
}
.submit-button:hover {
    background-color: #2aaef5;
    animation: bubble .4s ease-out;
    transform: scale(1.1);
}

/* -----Media Queries----- */

@media screen and (max-width: 340px) {
    .about-container {
        grid-template-rows: 70px 50px 400px 550px;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-template-areas:
        'header'
        'profile'
        'skills'
        'education';
    }
    .portfolio-container {
        grid-template-rows: 100px 775px 950px;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-template-areas:
        'portfolio-header'
        'experience'
        'projects';
    }
    .sidemenu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color, --primary-fallback);
        z-index: 100;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        transition: all .2s ease-in-out;
    }
    .sidemenu li {
        margin-top: 30px;
    }
    .sidemenu li a {
        padding: 5px;
    }
    .openmenu, .closemenu {
        display: block;
    }
    #checkbox:checked ~ .sidemenu {
        right: 0;
    }
    :root {
        font-size: 12px;
    }
}

@media screen and (min-width: 341px) and (max-width: 400px) {
    .about-container {
        grid-template-rows: 70px 50px 400px 400px;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-template-areas:
        'header'
        'profile'
        'skills'
        'education';
    }
    .portfolio-container {
        grid-template-rows: 100px 550px 650px;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-template-areas:
        'portfolio-header'
        'experience'
        'projects';
    }
    .sidemenu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color, --primary-fallback);
        z-index: 100;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        transition: all .2s ease-in-out;
    }
    .sidemenu li {
        margin-top: 30px;
    }
    .sidemenu li a {
        padding: 5px;
    }
    .openmenu, .closemenu {
        display: block;
    }
    #checkbox:checked ~ .sidemenu {
        right: 0;
    }
    :root {
        font-size: 12px;
    }
}

@media screen and (min-width: 401px) and (max-width: 856px) {
    .about-container {
        grid-template-rows: 70px 100px 425px 350px;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-template-areas:
        'header'
        'profile'
        'skills'
        'education';
    }
    .portfolio-container {
        grid-template-rows: 100px 600px 625px;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        grid-template-areas:
        'portfolio-header'
        'experience'
        'projects';
    }
    .grid-profile {
        width: 17dvw;
        justify-self: center;
    }
    .sidemenu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-color, --primary-fallback);
        z-index: 100;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        transition: all .2s ease-in-out;
    }
    .sidemenu li {
        margin-top: 30px;
    }
    .sidemenu li a {
        padding: 5px;
    }
    .openmenu, .closemenu {
        display: block;
    }
    #checkbox:checked ~ .sidemenu {
        right: 0;
    }
    :root {
        font-size: 13px;
    }
}

@media screen and (min-width: 857px) and (max-width: 1300px) {
    .about-container {
        display: grid;
        grid-template-rows: 200px 550px;
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        grid-gap: 10px;
        grid-template-areas:
        'header header profile'
        'skills education education';
    }
    .portfolio-container {
        padding-top: 10px;
        display: grid;
        grid-template-rows: 100px 850px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas:
        'portfolio-header portfolio-header'
        'experience projects';
    }
    .grid-profile {
        width: 15dvw;
    }
    :root {
        font-size: 15px;
    }
}
